html, body, input, textarea, select, button {
        font-family: -apple-system, BlinkMacSystemFont, AtlasGrotesk, 'Helvetica Neue', Helvetica, sans-serif !important;
}

.highlight, .highlight.code, .highlight.inline-code {
        background-color: #ffe89b !important;
        color: #332B1E !important;
}
